REGISTRY=672340652820.dkr.ecr.us-west-1.amazonaws.com
ZLM_TAG=0.0.1-alpha.20
MEDIA_SERVICE_HOOK_BASE_URL= http://127.0.0.1:8008
MEDIA_SERVER_SECRET=ITD3alrYMAuL7GDPXn5de45Y7Zj071OV
MEDIA_CONFIG_TYPE=sfu
MEDIA_SERVER_ID=sfu-node-1