REGISTRY=672340652820.dkr.ecr.us-west-1.amazonaws.com
ZLM_TAG=0.0.2-alpha.1
#control service URL，example only
MEDIA_SERVICE_HOOK_BASE_URL= http://127.0.0.1:8008
#just for local development, example only, 线上部署需更换密钥
MEDIA_SERVER_SECRET=ITD3alrYMAuL7GDPXn5de45Y7Zj071OV
#节点部署模式，sfu 或 media
MEDIA_CONFIG_TYPE=sfu
#节点id, MEDIA_CONFIG_TYPE=sfu 必填
MEDIA_SERVER_ID=sfu-node-1 
# WebRTC对外通告地址（公网IP/EIP），MEDIA_CONFIG_TYPE=sfu 必填
EXTERN_IP=